name: Rollbar-sf-apex CI

on:
  push:
    branches: [ master ]
    tags: [ v* ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-16.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup sfdx environment
        env:
          SFDX_URL: https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
          SFDX_KEY_PASS: ${{ secrets.SFDX_KEY_PASS }}
          SFDX_USERNAME: ${{ secrets.SFDX_USERNAME }}
          SFDX_CONSUMERKEY: ${{ secrets.SFDX_CONSUMERKEY }}
        run: |
          openssl aes-256-cbc -pass env:SFDX_KEY_PASS -in assets/server.key.enc -out assets/server.key -md md5 -d
          export SFDX_AUTOUPDATE_DISABLE=false
          export SFDX_USE_GENERIC_UNIX_KEYCHAIN=true
          export SFDX_DOMAIN_RETRY=300
          export SFDX_DISABLE_APP_HUB=true
          export SFDX_LOG_LEVEL=DEBUG
          mkdir sfdx
          wget -qO- $SFDX_URL | tar xJ -C sfdx --strip-components 1
          ./sfdx/install
          export PATH=./sfdx/$(pwd):$PATH
          sfdx --version
          sfdx plugins --core
          sfdx force:auth:jwt:grant --clientid $SFDX_CONSUMERKEY --jwtkeyfile assets/server.key --username $SFDX_USERNAME --instanceurl https://rollbar-hub-dev-ed.my.salesforce.com --setdefaultdevhubusername -a HubOrg

      - name: Run tests
        run: |
          sfdx force:org:create -v HubOrg -s -f config/project-scratch-def.json -a ciorg --wait 5
          sfdx force:org:display -u ciorg
          sfdx force:source:push -u ciorg
          sfdx force:apex:test:run -u ciorg --wait 12
          sfdx force:org:delete -u ciorg -p
          rm -f assets/server.key
